nav {
  background: $green-gradient;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.btn-menu-mobile {
  display: none;
}

ul {
  display: flex;
  list-style: none;
}

.menu-left {
  ul {
    gap: 3rem;
  }
  a {
    color: #fff;
  }
}

.icon-media-social {
  background: #fff;
  color: $green-pattern;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.menu-right {
  li {
    padding-left: 1rem;
  }
  i {
    font-size: 0.8rem;
  }
  a {
    display: flex;
  }
}
